<app-header></app-header>

<div class="grid-container">
	<div class="room-card" *ngFor="let room of rooms; let i = index">
		<h2>Room {{ i + 1 }}</h2>
		<table>
			<thead>
				<tr>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Status</th>
					<th>Patient</th>
					<th>Procedure</th>
					<th>Staff</th>
				</tr>
			</thead>
			<tbody>
				<tr class="surgery-case-row" *ngFor="let surgeryCase of room.surgeryCase"
					(click)="openSurgeryCaseModal(surgeryCase)" [ngClass]="{
			          'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
			          'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
			          'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
			          'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
			          'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
			          'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
			          'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
			        }">
					<td>{{ surgeryCase.scheduledStartTime | timeFormat }}</td>
					<td>{{ surgeryCase.endTime | timeFormat }}</td>
					<td [title]="surgeryCase.surgeryCaseStatus">{{ surgeryCase.surgeryCaseStatus }}</td>
					<td class="patient-column" [title]="'MRN: ' + surgeryCase.fullPatient?.mrn">
						<div class="patient-name">{{ surgeryCase.fullPatient?.lastName }}, {{
							surgeryCase.fullPatient?.firstName }}</div>
						<div class="patient-dob">{{surgeryCase.fullPatient?.dateOfBirth }}</div>
					</td>
					<td [title]="surgeryCase.procedure">{{ surgeryCase.procedure }} | date: 'MM/dd/yyyy'</td>

					<td class="staff-column">
						<div class="staff-member"><strong>Su:</strong> {{ surgeryCase.surgeon }}</div>
						<div class="staff-member"><strong>A:</strong> {{ surgeryCase.anesthesia }}</div>
						<div class="staff-member"><strong>N:</strong> {{ surgeryCase.nurse }}</div>
						<div class="staff-member"><strong>Sc:</strong> {{ surgeryCase.scrub }}</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="add-surgeryCase-btn" (click)="openModal(i + 1)">Add Case</button>
	</div>
</div>