<app-header></app-header>

<form id="loginForm" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
	<!-- checkLogin() in login.ts executes on submit -->
	<h4>Login:</h4>

	<!-- Error message -->
	<div *ngIf="errorMessage" class="error-message">
		{{ errorMessage }}
	</div>

	<div class="form-group">
		<label for="userId" placeholder="enter user ID">User ID: (for demo: nurse12)</label>
		<input id="userId" type="login" formControlName="userId"
			[class.error]="loginForm.get('userId')?.invalid && loginForm.get('userId')?.touched">

		<div *ngIf="loginForm.get('userId')?.invalid && loginForm.get('userId')?.touched" class="field-error">
			<small *ngIf="loginForm.get('userId')?.errors?.['required']">Enter user ID</small>
		</div>
	</div>

	<div class="form-group">
		<label for="password" placeholder="enter password">Password: (for demo: password.)</label>
		<input id="password" type="password" formControlName="password"
			[class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

		<div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="field-error">
			<small *ngIf="loginForm.get('password')?.errors?.['required']">Enter password</small>
		</div>
	</div>

	<button type="submit" id="login-button" [disabled]="isLoading">{{ isLoading ? 'Logging in...' : 'Login' }}</button>
	<div *ngIf="isLoading" class="loading-message">
		Authenticating...
	</div>

</form>