<app-header></app-header>

<div class="grid-container">
  <div class="room-card">
    <h2>Room 1</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room1.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(1)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 2</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room2.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(2)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 3</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room3.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(3)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 4</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room4.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(4)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 5</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room5.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(5)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 6</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Circulator</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let surgeryCase of room6.surgeryCase">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.patient }}</td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.circulator }}</td>
          <td>{{ surgeryCase.scrub }}</td>>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(6)">Add Case</button>
  </div>
</div>


