<app-header></app-header>

<div class="grid-container">
  <div class="room-card">
    <h2>Room 1</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room1.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(1)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 2</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room2.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(2)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 3</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room3.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(3)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 4</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room4.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(4)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 5</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room5.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(5)">Add Case</button>
  </div>
  <div class="room-card">
    <h2>Room 6</h2>
    <table>
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Status</th>
          <th>Patient</th>
          <th>Procedure</th>
          <th>Surgeon</th>
          <th>Anesthesia</th>
          <th>Nurse</th>
          <th>Scrub</th>
        </tr>
      </thead>
      <tbody>
        <tr class="surgery-case-row" *ngFor="let surgeryCase of room6.surgeryCase" 
            (click)="openSurgeryCaseModal(surgeryCase)"
            [ngClass]="{
              'status-not-here': surgeryCase.surgeryCaseStatus === 'Patient not here',
              'status-waiting': surgeryCase.surgeryCaseStatus === 'Patient waiting',
              'status-pre-op': surgeryCase.surgeryCaseStatus === 'Patient in pre-op',
              'status-ready': surgeryCase.surgeryCaseStatus === 'Patient ready',
              'status-in-or': surgeryCase.surgeryCaseStatus === 'Patient in OR',
              'status-pacu': surgeryCase.surgeryCaseStatus === 'Patient in PACU',
              'status-asu': surgeryCase.surgeryCaseStatus === 'Patient in ASU'
            }">
          <td>{{ surgeryCase.startTime | timeFormat }}</td>
          <td>{{ surgeryCase.endTime | timeFormat }}</td>
          <td>{{ surgeryCase.surgeryCaseStatus }}</td>
          <td>{{ surgeryCase.fullPatient?.lastName }}, {{ surgeryCase.fullPatient?.firstName }} 
              {{ surgeryCase.fullPatient?.dateOfBirth | date:'MM/dd/yyyy' }} 
              ({{ surgeryCase.fullPatient?.mrn }})
          </td>
          <td>{{ surgeryCase.procedure }}</td>
          <td>{{ surgeryCase.surgeon }}</td>
          <td>{{ surgeryCase.anesthesia }}</td>
          <td>{{ surgeryCase.nurse }}</td>
          <td>{{ surgeryCase.scrub }}</td>>
        </tr>
      </tbody>
    </table>
    <button class="add-surgeryCase-btn" (click)="openModal(6)">Add Case</button>
  </div>
</div>


