body {
    background-color: #f8fafc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.heading {
    color: #082d53;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
	margin-left: 16px;
	margin-right: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #082d53;
}

#registerPatientForm {
    background: white;
    padding: 24px;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#registerPatientForm label {
    font-size: 12px;
    font-weight: 700;
    color: #64748b;
    text-transform: uppercase;
    margin-bottom: 8px;
	margin-top: 8px;
}

#registerPatientForm input,
#registerPatientForm select {
    height: auto;
    padding: 10px 12px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    color: #1e293b;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}

#registerPatientForm input:focus,
#registerPatientForm select:focus {
    border-color: #082d53;
    box-shadow: 0 0 0 1px #082d53;
}

#registration-button {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #082d53;
    color: #f8fafc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#registration-button:hover {
    background-color: #233975;
}

.form-section-divider {
    border-top: 1px solid #e2e8f0;
    margin: 20px 0;
}