<div class="modal-overlay" id="add-case-modal">
  <div class="modal-content">
    <h4 class="heading">Add a Case to Schedule for Room: {{data.roomId}} </h4>
    <form id="addCaseForm" [formGroup]="addCaseForm">
      <label for="patient">Patient:</label>
      <div class="search-container">
        <input id="patient" 
               type="search" 
               [formControlName]="'patient'"
               (input)="searchPatients($any($event.target).value)"
               placeholder="Search for patient by last name or MRN">
        
        <div class="search-results" *ngIf="showDropdown && filteredPatients.length > 0">
          <div class="search-result-item" 
               *ngFor="let patient of filteredPatients"
               (click)="selectPatient(patient)">
           {{patient.lastName}}, {{patient.firstName}} ({{patient.mrn}})
          </div>
        </div>
      </div>

      <label for="procedure">Procedure:</label>
      <input id="procedure" type="text" formControlName="procedure">

      <label for="start-time">Start Time:</label>
      <input id="start-time" type="time" formControlName="startTime">

      <label for="end-time">End Time:</label>
      <input id="end-time" type="time" formControlName="endTime">

      <label for="surgeon">Surgeon:</label>
      <input id="surgeon" type="text" formControlName="surgeon">

      <label for="anesthesia">Anesthesia:</label>
      <input id="anesthesia" type="text" formControlName="anesthesia">

      <label for="circulator">Circulator:</label>
      <input id="circulator" type="text" formControlName="circulator">

      <label for="scrub">Scrub:</label>
      <input id="scrub" type="text" formControlName="scrub">

      <button type="submit" id="add-case-button" (click)="addCase(data.roomId)">Add Case to Schedule</button>
      <button type="button" id="close-modal-button" (click)="closeModal()">Close</button>
    </form>
  </div>  
</div>
